<div class="page">
  <h1>Clipboard Master</h1>

  <div class="container">
    <h2>Clipboard</h2>
    <button *ngIf="isRestrict" (click)="copyClipboard()">Copy to Clipboard</button>
    <button *ngIf="isRestrict" (click)="pasteClipboard()">Send from Clipboard</button>

    <textarea [(ngModel)]="inputText"></textarea>
    <button (click)="sendTextToClipboard()">Send from TextBox</button>

    <textarea class="server-text" [value]="serverText" readonly></textarea>
  </div>

  <div *ngIf="isRestrict" class="container">
    <h2>Files</h2>
    <button (click)="uploadFile()">Send File</button>
    <button (click)="downloadFile()" [disabled]="!serverFileName">Get File</button>

    <textarea class="server-text" [value]="serverFileName" readonly></textarea>
  </div>
</div>